<h2>Celebrity Info</h2>
<h3>{{celebrity.name}}</h3>
<h3>{{celebrity.occupation}}</h3>
<h3>{{celebrity.catchPhrase}}</h3>
<a href="/celebrities/{{celebrity._id}}/edit">Edit</a>
<form action="/celebrities/{{celebrity._id}}/delete" method="POST">
    <button type="submit">Delete</button>
</form>